/* ------------------------------------------------------------------------------------

[Table of contents]

1.Variables
2.Reset
3.Typography
4.Grid styles
5.Spaces
6.Common styles
7.Buttons
8.Header
9.Main navigation
10.Footer
11.Content
12.Forms

-------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------
    1-Variables
--------------------------------------------------------------------------------------- */
:root {
  --main-blue: #0d4efe;
  --text-blue: #0e0e65;
  --text-blue-2: #22147c;
  --dark-blue-bg: #000865;
  --dark-blue-bg-2: #0e0e65;
  --blue-grey: #262c7c60;
  --white: #fff;
  --orange: #f5b841;
  --grey-text: #6c6c6c;
  --grey-text-2: #a3a3a3;
  --grey-text-3: #707070;
  --grey-border: #bebebe;
  --green-main: #2fb26b;
  --red-main: #f00;
  --main-text: #363636;
  --main-font: 'SourceSansPro-Regular';
  --semibold-font: 'SourceSansPro-SemiBold';
  --bold-font: 'SourceSansPro-Bold';
}

/* -------------------------------------------------------------------------------------
    2-Reset
--------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  background-color: transparent;
}
b,
strong {
  font-weight: bolder;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

/* -------------------------------------------------------------------------------------
    3-Typography
--------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/Source-Sans-Pro/SourceSansPro-Regular.eot');
  src: url('../fonts/Source-Sans-Pro/SourceSansPro-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Regular.svg#SourceSansPro-Regular')
      format('svg'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Regular.ttf') format('truetype'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../fonts/Source-Sans-Pro/SourceSansPro-SemiBold.eot');
  src: url('../fonts/Source-Sans-Pro/SourceSansPro-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold')
      format('svg'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-SemiBold.ttf')
      format('truetype'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-SemiBold.woff') format('woff'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../fonts/Source-Sans-Pro/SourceSansPro-Bold.eot');
  src: url('../fonts/Source-Sans-Pro/SourceSansPro-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Bold.svg#SourceSansPro-Bold')
      format('svg'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Bold.ttf') format('truetype'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Bold.woff') format('woff'),
    url('../fonts/Source-Sans-Pro/SourceSansPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-text);
  font-size: 15px;
  line-height: 1;
}

h1 {
  font-family: var(--bold-font);
  color: var(--main-blue);
  font-size: 26px;
}

h2 {
  line-height: 1.2;
  margin-bottom: 12px;
}

h2,
h3 {
  font-family: var(--bold-font);
}

p {
  line-height: 1.4;
  margin-bottom: 12px;
}

a {
  color: var(--main-blue);
}

.color__blue {
  color: var(--main-blue);
}

.color__blue-dark {
  color: var(--text-blue-2);
}

.color__grey {
  color: var(--grey-text);
}

.color__grey-2 {
  color: var(--grey-text-3);
}

.color__red {
  color: var(--red-main);
}

.color__white {
  color: white;
}

.font__regular {
  font-family: var(--main-font);
  font-weight: normal;
}

.font__semibold {
  font-family: var(--semibold-font);
  font-weight: normal;
}

.font__bold {
  font-family: var(--bold-font);
  font-weight: normal;
}

.font__light {
  color: var(--grey-text-2);
}

.font__size-15 {
  font-size: 15px;
}

.font__size-18 {
  font-size: 18px;
}

.font__size-19 {
  font-size: 19px;
}

.font__size-20 {
  font-size: 24px;
}

.font__size-22 {
  font-size: 22px;
}

.font__size-24 {
  font-size: 24px;
}

.font__size-26 {
  font-size: 26px;
}

.font__size-30 {
  font-size: 30px;
}

.font__size-35,
.plan__price.font__size-35 {
  font-size: 35px;
}

.font__size-40 {
  font-size: 40px;
}

.lh-1-3 {
  line-height: 1.3;
}

.lh-1-5 {
  line-height: 1.5;
}

.text__decoration-none {
  text-decoration: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 45px;
    line-height: 64px;
  }

  .font__size-md-20 {
    font-size: 20px;
  }

  .font__size-md-22 {
    font-size: 22px;
  }

  .font__size-md-45 {
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  .font__size-lg-30,
  .plan__price.font__size-lg-30 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .font__size-xl-40,
  .land__head p.font__size-xl-40 {
    font-size: 40px;
  }

  .font__size-xl-60,
  .land__head h3.font__size-xl-60 {
    font-size: 60px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

/* -------------------------------------------------------------------------------------
    4-Grid styles
--------------------------------------------------------------------------------------- */
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .offset-sm-2 {
    margin-left: 16.666667%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .offset-xl-1 {
    margin-left: 8.333333%;
  }

  .offset-xl-2 {
    margin-left: 16.666667%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

/* -------------------------------------------------------------------------------------
    5-Spaces
--------------------------------------------------------------------------------------- */
.m__t-0 {
  margin-top: 0;
}

.m__t-7 {
  margin-top: 7px;
}

.m__t-11 {
  margin-top: 11px;
}

.m__t-16 {
  margin-top: 16px;
}

.m__t-24 {
  margin-top: 24px;
}

.m__t-30 {
  margin-top: 30px;
}

.m__t-37 {
  margin-top: 37px;
}

.m__t-50 {
  margin-top: 50px;
}

.m__t-89 {
  margin-top: 89px;
}

.m__t-94 {
  margin-top: 94px;
}

.m__t-100 {
  margin-top: 100px;
}

.m__t-107,
.main__nav-list li.m__t-107 {
  margin-top: 107px;
}

.m__b-0,
.footer__main a.m__b-0 {
  margin-bottom: 0px;
}

.m__b-5 {
  margin-bottom: 5px;
}

.m__b-8 {
  margin-bottom: 8px;
}

.m__b-10 {
  margin-bottom: 10px;
}

.m__b-17 {
  margin-bottom: 17px;
}

.m__b-20 {
  margin-bottom: 20px;
}

.m__b-22 {
  margin-bottom: 22px;
}

.m__b-25 {
  margin-bottom: 25px;
}

.m__b-30,
.plan__price.m__b-30 {
  margin-bottom: 30px;
}

.m__b-35 {
  margin-bottom: 35px;
}

.m__b-40 {
  margin-bottom: 40px;
}

.m__b-42 {
  margin-bottom: 42px;
}

.m__b-54 {
  margin-bottom: 54px;
}

.m__b-60 {
  margin-bottom: 60px;
}

.m__b-72,
.plan__item h3.m__b-72 {
  margin-bottom: 72px;
}

.m__b-86 {
  margin-bottom: 86px;
}

.m__r-auto {
  margin-right: auto;
}

.m__r-10 {
  margin-right: 10px;
}

.m__r-15 {
  margin-right: 15px;
}

.m__r-25 {
  margin-right: 25px;
}

.m__r-35 {
  margin-right: 35px;
}

.m__r-50 {
  margin-right: 50px;
}

.m__l-10 {
  margin-left: 10px;
}

.m__l-15 {
  margin-left: 15px;
}

.m__l-25 {
  margin-left: 25px;
}

.m__l-26 {
  margin-left: 26px;
}

.m__l-30 {
  margin-left: 30px;
}

.m__x-30 {
  margin-right: 30px;
  margin-left: 30px;
}

.m__y-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.p__t-20 {
  padding-top: 20px;
}

.p__t-22 {
  padding-top: 22px;
}

.p__t-28 {
  padding-top: 28px;
}

.p__t-32 {
  padding-top: 32px;
}

.p__t-50 {
  padding-top: 50px;
}

.p__t-54 {
  padding-top: 54px;
}

.p__t-63 {
  padding-top: 63px;
}

.p__t-86 {
  padding-top: 86px;
}

.p__b-20 {
  padding-bottom: 20px;
}

.p__b-22 {
  padding-bottom: 22px;
}

.p__b-28 {
  padding-bottom: 28px;
}

.p__b-32 {
  padding-bottom: 32px;
}

.p__b-47 {
  padding-bottom: 47px;
}

.p__b-100 {
  padding-bottom: 100px;
}

.p__l-0 {
  padding-left: 0px;
}

.p__l-15 {
  padding-left: 15px;
}

.p__l-30 {
  padding-left: 30px;
}

.p__x-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.p__x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p__x-30 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 576px) {
  .m-sm__l-25 {
    margin-left: 25px;
  }

  .m-sm__r-25 {
    margin-right: 25px;
  }

  .p-sm__x-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .m-md__b-15 {
    margin-bottom: 15px;
  }

  .m-md__b-40 {
    margin-bottom: 40px;
  }

  .p-md__x-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .p-md__t-25 {
    padding-top: 25px;
  }

  .p-md__b-32 {
    padding-bottom: 32px;
  }
}

@media (min-width: 992px) {
  .border-lg__none {
    border: none;
  }

  .m-lg__t-0 {
    margin-top: 0;
  }

  .m-lg__t-94 {
    margin-top: 94px;
  }

  .m-lg__b-55,
  .plan__item h3.m-lg__b-55 {
    margin-bottom: 55px;
  }

  .m-lg__l-0 {
    margin-left: 0;
  }

  .m-lg__r-0 {
    margin-right: 0;
  }

  .m-lg__r-25 {
    margin-right: 25px;
  }

  .m-lg__r-35 {
    margin-right: 35px;
  }

  .m-lg__r-50 {
    margin-right: 50px;
  }

  .p-lg__t-0 {
    padding-top: 0;
  }

  .p-lg__l-50 {
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0;
  }

  .m-xl__l-0 {
    margin-left: 0;
  }
}

@media (min-width: 1500px) {
  .p-xll__l-116 {
    padding-left: 116px;
  }
}

/* -------------------------------------------------------------------------------------
    6-Common styles
--------------------------------------------------------------------------------------- */
img {
  max-width: 100%;
}

label {
  display: inline-block;
  margin-bottom: 19px;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.bg__blue {
  background-color: var(--main-blue);
}

.bg__blue-dark {
  background-color: var(--dark-blue-bg-2);
}

.border__top-3-blue-grey {
  border-top: 3px dashed var(--blue-grey);
}

.border__bottom-3-blue-grey {
  border-bottom: 3px dashed var(--blue-grey);
}

.border__top-15-white {
  border-top: 15px solid white;
}

.circle__before {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: var(--main-blue);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid var(--main-blue);
  text-align: center;
  line-height: 38px;
  margin: -6px 21px 0 0;
  float: left;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.float-right {
  float: right !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.link__arrow-right,
.link__arrow-right-2,
.link__arrow-right-3 {
  padding-right: 23px;
  position: relative;
  display: inline-block;
}

.link__arrow-right-3 {
  color: white;
}

.link__arrow-right:after,
.link__arrow-right-2:after,
.link__arrow-right-3:after {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.613' height='25.122' viewBox='0 0 45.613 25.122'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23707070;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M41.688,54.768,22.809,73.652,3.93,54.766A2.3,2.3,0,0,0,.673,58.025L21.18,78.538h0a2.3,2.3,0,0,0,3.254,0L44.94,58.025a2.3,2.3,0,1,0-3.252-3.256Z' transform='translate(0 -54.091)'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  background-size: 30px auto;
  position: absolute;
  right: -15px;
  top: -3px;
}

.link__arrow-right-2:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.613' height='25.122' viewBox='0 0 45.613 25.122'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%232C57FF;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M41.688,54.768,22.809,73.652,3.93,54.766A2.3,2.3,0,0,0,.673,58.025L21.18,78.538h0a2.3,2.3,0,0,0,3.254,0L44.94,58.025a2.3,2.3,0,1,0-3.252-3.256Z' transform='translate(0 -54.091)'/%3E%3C/svg%3E");
  width: 22px;
  height: 12px;
  background-size: 22px 12px;
  right: -3px;
  top: 5px;
}

.link__arrow-right-3:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.613' height='25.122' viewBox='0 0 45.613 25.122'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23FFFFFF;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M41.688,54.768,22.809,73.652,3.93,54.766A2.3,2.3,0,0,0,.673,58.025L21.18,78.538h0a2.3,2.3,0,0,0,3.254,0L44.94,58.025a2.3,2.3,0,1,0-3.252-3.256Z' transform='translate(0 -54.091)'/%3E%3C/svg%3E");
  right: -20px;
  top: 3px;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

@media (min-width: 768px) {
  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-md-none {
    display: none !important;
  }

  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
}

@media (min-width: 992px) {
  .border-lg__none {
    border: none;
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .w-xl-100 {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .d-xll-inline-block {
    display: inline-block !important;
  }
}

/* -------------------------------------------------------------------------------------
    7-Buttons
--------------------------------------------------------------------------------------- */
.btn__orange,
.btn__blue,
.btn__blue-2,
.btn__white {
  border-radius: 7px;
  font-size: 21px;
  padding: 15px 52px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn__blue-2 {
  font-size: 24px;
  padding: 8px 18px 9px;
}

.btn__orange {
  background-color: var(--orange);
  color: var(--text-blue);
}

.btn__blue,
.btn__blue-2 {
  background-color: var(--main-blue);
  color: var(--white);
  border: none;
}

.btn__blue:focus {
  outline: none;
}

.btn__white,
.header__main a.btn__white {
  font-size: 24px;
  color: var(--main-blue);
  background-color: white;
  padding: 23px 67px 25px;
  border: none;
}

.btn__white-small {
  border: none;
  border-radius: 10px;
  color: var(--main-blue);
  font-size: 18px;
  padding: 8px 25px 10px;
}

.btn__white-big {
  font-size: 30px;
  color: var(--main-blue);
  border-radius: 10px;
  border: 4px solid var(--main-blue);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .btn__white-big {
    font-size: 20px;
    border-width: 2px;
  }
}

@media (min-width: 1200px) {
  .header__main a.btn__lg-primary-white {
    border-radius: 10px;
    background-color: var(--white);
    color: var(--main-blue);
    padding: 20px 28px 18px;
  }

  .header__main a.btn__lg-primary-white svg {
    fill: var(--main-blue);
  }
}

/* -------------------------------------------------------------------------------------
    8-Header
--------------------------------------------------------------------------------------- */
.cart__number {
  position: absolute;
  right: -10px;
  top: -10px;
  color: var(--main-blue);
  font-size: 20px;
  border-radius: 50%;
  background-color: var(--orange);
  display: inline-block;
  width: 25px;
  height: 25px;
  z-index: 2;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  padding-top: 3px;
}

.cart__icon img {
  width: 40px;
}

.fixedHeader {
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
}

.hasFixedHeader {
  overflow-y: hidden;
}

.header__main {
  background-color: var(--main-blue);
}

.header__main a {
  text-decoration: none;
  color: var(--white);
}

.header__main a svg {
  fill: var(--white);
}

.logo__mobile {
  position: relative;
  z-index: 3;
  margin-top: -5px;
  margin-bottom: 5px;
}

.login__icon-desktop img {
  width: 41px;
}

.login__icon:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.818' height='36.939' viewBox='0 0 30.818 36.939'%3E%3Cg transform='translate(0)' fill='%23fff'%3E%3Cpath class='a' d='M95.928,17.794a8.608,8.608,0,0,0,6.291-2.607A8.608,8.608,0,0,0,104.825,8.9a8.61,8.61,0,0,0-2.607-6.291,8.895,8.895,0,0,0-12.581,0A8.609,8.609,0,0,0,87.031,8.9a8.608,8.608,0,0,0,2.607,6.291A8.611,8.611,0,0,0,95.928,17.794Zm0,0' transform='translate(-80.752 0)' /%3E%3Cpath class='a' d='M30.743,257.878a21.974,21.974,0,0,0-.3-2.334,18.39,18.39,0,0,0-.574-2.347,11.592,11.592,0,0,0-.965-2.189,8.258,8.258,0,0,0-1.455-1.9,6.415,6.415,0,0,0-2.09-1.313,7.221,7.221,0,0,0-2.668-.483,2.708,2.708,0,0,0-1.446.613c-.433.283-.94.61-1.506.971a8.634,8.634,0,0,1-1.949.859,7.569,7.569,0,0,1-4.768,0,8.613,8.613,0,0,1-1.948-.858c-.561-.358-1.068-.685-1.508-.972a2.7,2.7,0,0,0-1.445-.613,7.213,7.213,0,0,0-2.667.483,6.41,6.41,0,0,0-2.09,1.313,8.261,8.261,0,0,0-1.454,1.9A11.615,11.615,0,0,0,.947,253.2a18.434,18.434,0,0,0-.574,2.346,21.9,21.9,0,0,0-.3,2.335c-.049.707-.074,1.44-.074,2.181A6.134,6.134,0,0,0,1.822,264.7a6.558,6.558,0,0,0,4.694,1.712H24.3A6.557,6.557,0,0,0,29,264.7a6.131,6.131,0,0,0,1.822-4.641C30.818,259.315,30.793,258.581,30.743,257.878Zm0,0' transform='translate(0 -229.474)' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  width: 32px;
  height: 39px;
  background-size: 32px auto;
}

.search__icon img {
  width: 40px;
}

@media (min-width: 1200px) {
  .login__icon:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.818' height='36.939' viewBox='0 0 30.818 36.939'%3E%3Cg transform='translate(0)' fill='%230d4efe'%3E%3Cpath class='a' d='M95.928,17.794a8.608,8.608,0,0,0,6.291-2.607A8.608,8.608,0,0,0,104.825,8.9a8.61,8.61,0,0,0-2.607-6.291,8.895,8.895,0,0,0-12.581,0A8.609,8.609,0,0,0,87.031,8.9a8.608,8.608,0,0,0,2.607,6.291A8.611,8.611,0,0,0,95.928,17.794Zm0,0' transform='translate(-80.752 0)' /%3E%3Cpath class='a' d='M30.743,257.878a21.974,21.974,0,0,0-.3-2.334,18.39,18.39,0,0,0-.574-2.347,11.592,11.592,0,0,0-.965-2.189,8.258,8.258,0,0,0-1.455-1.9,6.415,6.415,0,0,0-2.09-1.313,7.221,7.221,0,0,0-2.668-.483,2.708,2.708,0,0,0-1.446.613c-.433.283-.94.61-1.506.971a8.634,8.634,0,0,1-1.949.859,7.569,7.569,0,0,1-4.768,0,8.613,8.613,0,0,1-1.948-.858c-.561-.358-1.068-.685-1.508-.972a2.7,2.7,0,0,0-1.445-.613,7.213,7.213,0,0,0-2.667.483,6.41,6.41,0,0,0-2.09,1.313,8.261,8.261,0,0,0-1.454,1.9A11.615,11.615,0,0,0,.947,253.2a18.434,18.434,0,0,0-.574,2.346,21.9,21.9,0,0,0-.3,2.335c-.049.707-.074,1.44-.074,2.181A6.134,6.134,0,0,0,1.822,264.7a6.558,6.558,0,0,0,4.694,1.712H24.3A6.557,6.557,0,0,0,29,264.7a6.131,6.131,0,0,0,1.822-4.641C30.818,259.315,30.793,258.581,30.743,257.878Zm0,0' transform='translate(0 -229.474)' /%3E%3C/g%3E%3C/svg%3E");
  }
}

@media (min-width: 1440px) {
  .cart__icon img {
    width: 32px;
  }

  .login__icon:before {
    background-size: 24px auto;
    width: 24px;
    height: 30px;
  }

  .login__icon-desktop img {
    width: 35px;
  }

  .search__icon img {
    width: 30px;
  }
}

/* -------------------------------------------------------------------------------------
    9-Main navigation
--------------------------------------------------------------------------------------- */
.main__nav input {
  display: block;
  width: 67px;
  height: 50px;
  position: absolute;
  top: 27px;
  right: 4px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}

.main__nav-list {
  color: white;
  cursor: pointer;
}

.main__nav-list div {
  position: relative;
}

.main__nav-list ul {
  display: none;
  font-size: 18px;
  margin-top: 23px;
}

.main__nav-list ul li {
  margin: 0 0 14px;
}

.main__nav-list .selected + ul {
  display: block;
}

@media (min-width: 576px) {
  .main__nav input {
    right: 24px;
  }
}

@media (min-width: 1200px) {
  .main__nav input {
    display: none;
  }

  .main__nav-list li {
    display: inline-block;
    font-size: 20px;
    margin: 0 15px 0 0;
    position: relative;
  }

  .main__nav-list .selected + ul {
    position: absolute;
    top: 52px;
    left: -30px;
    display: inline-block;
    background-color: var(--dark-blue-bg);
    padding: 20px 30px 10px;
    z-index: 2;
  }

  .main__nav-list .selected + ul li {
    font-size: 18px;
    display: block;
  }

  .main__nav-list .selected + ul li a {
    display: block;
  }
}

@media (min-width: 1440px) {
  .main__nav-list .selected + ul {
    top: 48px;
  }
}

@media (min-width: 1500px) {
  .main__nav-list li {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 1199px) {
  .menu__nav-toggle {
    display: block;
    top: 7px;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .main__nav-list div:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68.7 40.53'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolyline points='2.87 2.83 33.87 34.83 65.87 2.83' style='fill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:8px'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 16px;
    position: relative;
    left: 150px;
  }

  .main__nav-list div.selected:after {
    transform: rotate(180deg);
  }

  .main__nav span {
    display: block;
    width: 56px;
    height: 3px;
    margin-bottom: 10px;
    position: relative;
    background: var(--white);
    z-index: 4;
    transform-origin: 13px -5px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .main__nav span:first-child {
    transform-origin: 0% 0%;
  }

  .main__nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .main__nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  .main__nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .main__nav input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .main__nav-list {
    position: absolute;
    display: block;
    width: 100%;
    padding: 200px 58px 58px;
    margin: 0;
    background: var(--main-blue);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    font-size: 26px;
  }

  .main__nav input:checked ~ ul {
    transform: none;
  }

  .main__nav-list li {
    margin: 0 0 40px;
  }
}

@media (max-width: 400px) {
  .main__nav-list div:after {
    left: 85px;
  }
}

/* -------------------------------------------------------------------------------------
    10-Footer
--------------------------------------------------------------------------------------- */
.footer__main {
  font-size: 16px;
  background-color: var(--main-blue);
  color: white;
  padding: 40px 0 0;
  text-align: center;
}

.footer__main a {
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  margin-bottom: 18px;
}

.footer__title {
  font-family: var(--bold-font);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
  display: block;
}

.hasSubMenu {
  cursor: pointer;
}

.hasSubMenu + ul {
  display: none;
}

.hasSubMenu.selected + ul {
  display: block;
}

.newsletter__form {
  max-width: 600px;
}

@media (min-width: 992px) {
  .footer__main {
    padding: 88px 30px 55px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .footer__main {
    padding: 88px 62px 55px;
  }
}

/* -------------------------------------------------------------------------------------
    11-Content
--------------------------------------------------------------------------------------- */
/* FAQ accordion */
.accordion__item {
  overflow: hidden;
  position: relative;
}

.accordion__item label {
  cursor: pointer;
  padding-right: 54px;
  position: relative;
  width: 100%;
}

.accordion__item label:after {
  content: '+';
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 80px;
}

.accordion__item input:checked + label:after {
  content: '-';
  font-size: 100px;
}

.accordion__item input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion__item input:checked ~ .accordion__content {
  max-height: 100vh;
  padding: 0 0 2em 0;
}

.accordion__content {
  max-height: 0;
  width: 100%;
  transition: all 0.35s;
}

/* Custom path */
.path__custom {
  color: var(--white);
  background-color: var(--main-blue);
  font-size: 20px;
  padding: 21px 0 0;
}

.path__custom li {
  display: inline-block;
  line-height: 30px;
  margin-right: 33px;
  position: relative;
  padding-right: 25px;
  padding-left: 15px;
  padding-bottom: 8px;
  margin-bottom: -10px;
}

.path__custom li.active {
  border-bottom: 20px solid var(--orange);
}

.path__custom li.active:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--orange);
  right: -20px;
  bottom: -20px;
}

.path__custom li:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 26px;
  border-color: transparent transparent transparent #fff;
  right: -20px;
}

.path__custom li.active + li.active {
  padding-left: 52px;
  margin-left: -37px;
}

.path__custom li:last-child {
  padding-right: 0;
}

.path__custom li:last-child:after {
  display: none;
}

.path__custom .circle__before {
  color: var(--white);
  border-color: var(--white);
}

/* Plan items */
.plan__item {
  border: 2px solid var(--main-blue);
  padding: 32px 10px 60px;
  text-align: center;
  font-size: 22px;
  color: var(--text-blue);
  border-radius: 10px;
  height: 100%;
  position: relative;
}

.plan__item h3 {
  color: var(--text-blue);
  font-size: 24px;
  font-family: var(--bold-font);
  margin-bottom: 28px;
  line-height: 1.4em;
}

.plan__item label {
  margin-bottom: 19px;
  bottom: 5px;
  position: absolute;
  left: 0;
  width: 100%;
}

.plan__price {
  color: var(--main-blue);
  font-family: var(--bold-font);
  font-size: 69px;
  margin-bottom: 10px;
}

.plan__price div {
  font-size: 35px;
}

.plan__price sup {
  font-size: 40px;
}

.plan__price sub {
  font-size: 35px;
  bottom: 0;
}

.plan__price p {
  line-height: 1.3;
}

.plan__item.checked,
.plan__item:hover,
.plan__item:active {
  background-color: var(--main-blue);
  color: white;
}

.plan__item.checked h3,
.plan__item.checked .plan__price,
.plan__item:hover h3,
.plan__item:active h3,
.plan__item:hover .plan__price,
.plan__item:active .plan__price {
  color: white;
}

@media (min-width: 992px) {
  .plan__item h3 {
    font-size: 14px;
    font-family: var(--semibold-font);
  }

  .plan__price {
    font-size: 40px;
  }

  .plan__price div {
    font-size: 20px;
  }

  .plan__price sup {
    font-size: 25px;
  }

  .plan__price sub {
    font-size: 20px;
    bottom: 0;
  }

  .plan__item p,
  .plan__item .btn__orange {
    font-size: 13px;
  }
}

@media (min-width: 1440px) {
  .plan__item h3 {
    font-size: 20px;
  }

  .plan__price {
    font-size: 52px;
  }

  .plan__price sup {
    font-size: 32px;
  }

  .plan__price sub {
    font-size: 24px;
  }

  .plan__price div {
    font-size: 24px;
  }

  .plan__item p,
  .plan__item .btn__orange {
    font-size: 15px;
  }
}

/* Landing page */
.land__head {
  background-image: url('../img/landing/vermieterclub_home_hero.jpg');
  background-repeat: no-repeat;
  min-height: 750px;
  position: relative;
  background-size: cover;
  background-position: right -355px bottom 50px;
}

.lead__head-top {
  min-height: 750px;
}

.land__head-content {
  position: absolute;
  left: 0px;
  padding: 0 25px;
  bottom: 260px;
}

.land__head-link {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 45px;
  height: 50px;
}

.land__head-link:after,
.land__head-link:before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 25px;
  background-image: url('../img/landing/down-arrow.svg');
  background-size: 45px auto;
  background-repeat: no-repeat;
}

.land__head h3 {
  font-size: 26px;
  margin-bottom: 9px;
}

.land__head p {
  font-size: 25px;
  line-height: 35px;
}

.land__head-footer {
  background-color: var(--dark-blue-bg-2);
  color: white;
  font-size: 30px;
  line-height: 32px;
  font-family: var(--bold-font);
  text-align: center;
  padding: 31px 15px;
}

.land__head-footer:after {
  content: '';
  display: block;
  background-image: url('../img/login.svg');
  background-repeat: no-repeat;
  background-size: 63px auto;
  height: 63px;
  margin-top: 33px;
  background-position: center;
}

.land__section-top {
  padding: 86px 0 47;
  font-size: 18px;
}

.land__items {
  border-bottom: 58px solid var(--main-blue);
}

@media (min-width: 400px) {
  .land__head h3 {
    font-size: 35px;
  }

  .land__head p {
    font-size: 30px;
    line-height: 43px;
  }
}

@media (min-width: 768px) {
  .custom__item {
    webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
  }

  .custom__item .text-right {
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  .land__head {
    background-position: right -150px bottom;
  }

  .land__head-content {
    bottom: 220px;
  }
}

@media (min-width: 992px) {
  .custom__item {
    webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .land__head {
    min-height: auto;
    background-position: right -240px top;
    background-size: 130% auto;
  }

  .lead__head-top {
    min-height: 500px;
  }

  .land__head-content {
    top: 200px;
    text-align: left;
    width: 100%;
  }

  .land__head h3 {
    font-size: 35px;
    width: 50%;
  }

  .land__head p {
    width: 50%;
  }

  .land__arrow {
    position: absolute;
    bottom: -175px;
    left: 50%;
    margin-left: -22px;
  }

  .land__head-footer {
    padding: 24px 30px 24px 105px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    margin: 0 0 150px 0;
  }

  .land__head-footer::after {
    background-size: 37px auto;
    height: 37px;
    margin-top: 0px;
    background-position: center;
    width: 37px;
    position: absolute;
    left: 35px;
    top: 22px;
  }
}

@media (min-width: 1200px) {
  .land__head {
    background-position: right top;
    background-size: cover;
  }
}

@media (min-width: 1400px) {
  .custom__item {
    webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/*** Other ***/
.title__custom {
  position: relative;
  padding: 0 0 0 79px;
}

.title__custom:before {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230D4EFE;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M196.008.028c-.046,0-.084-.028-.132-.028H176.168a5.507,5.507,0,0,0-5.5,5.5V7.333a1.833,1.833,0,1,0,3.666,0V5.5a1.836,1.836,0,0,1,1.834-1.833h8.541l-.559.187a3.685,3.685,0,0,0-2.482,3.479v27.5h-5.5A1.836,1.836,0,0,1,174.334,33V29.333a1.833,1.833,0,1,0-3.666,0V33a5.507,5.507,0,0,0,5.5,5.5h5.5v1.833A3.67,3.67,0,0,0,185.334,44a3.846,3.846,0,0,0,1.168-.182l11.015-3.672A3.685,3.685,0,0,0,200,36.667v-33A3.674,3.674,0,0,0,196.008.028Zm0,0' transform='translate(-156.001)'/%3E%3Cpath class='a' d='M19.629,114.533,12.3,107.2a1.833,1.833,0,0,0-3.129,1.3V114H1.833a1.833,1.833,0,0,0,0,3.667H9.167v5.5a1.833,1.833,0,0,0,3.129,1.3l7.333-7.334A1.831,1.831,0,0,0,19.629,114.533Zm0,0' transform='translate(0 -97.496)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 56px auto;
  height: 56px;
  width: 56px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 5px;
}

@media (min-width: 768px) {
  .title__custom {
    padding: 0 0 0 60px;
  }

  .title__custom:before {
    width: 37px;
    height: 37px;
    background-size: 37px auto;
    top: 11px;
  }
}

@media (min-width: 768px) {
  .title__custom {
    margin-left: -63px;
  }
}

/* -------------------------------------------------------------------------------------
    12-Forms
--------------------------------------------------------------------------------------- */
.checkbox__custom,
.radio__custom {
  position: absolute;
  opacity: 0;
}

.checkbox__custom + label,
.radio__custom + label {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 40px;
}

.checkbox__custom + label:before {
  content: '';
  margin-right: 10px;
  margin-top: -4px;
  margin-left: -39px;
  width: 27px;
  height: 27px;
  background: white;
  border: 2px solid var(--main-blue);
  float: left;
  border-radius: 5px;
}

.checkbox__custom:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.checkbox__custom:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.checkbox__custom:checked + label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38.3 36.64'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolyline points='1.6 20.31 20.6 32.31 35.6 1.31' style='fill:none;stroke:%230d4efe;stroke-miterlimit:10;stroke-width:6px'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.radio__custom + label:before {
  content: '';
  margin-right: 10px;
  margin-top: -6px;
  margin-left: -39px;
  width: 24px;
  height: 24px;
  background: white;
  border: 2px solid var(--main-blue);
  float: left;
  border-radius: 50%;
}

.radio__custom:checked + label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 0px;
  width: 16px;
  height: 16px;
  background-color: var(--main-blue);
  border-radius: 50%;
}

.input__text,
.textarea__custom {
  display: block;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  border: 2px solid var(--grey-border);
  border-radius: 0.25rem;
}

.input__text.valid {
  border: 2px solid var(--green-main);
}

.input__text.invalid {
  border: 2px solid var(--red-main);
}

.input__text:not(.valid):not(.invalid):not([disabled]):focus,
.input__text:not(.valid):not(.invalid):not([disabled]):hover,
.textarea__custom:not(.valid):not(.invalid):not([disabled]):focus,
.textarea__custom:not(.valid):not(.invalid):not([disabled]):hover {
  box-shadow: 0 0 0 0.2rem rgba(64, 61, 157, 0.25);
  border: 2px solid var(--main-blue);
}

.input__text-small {
  display: block;
  line-height: 1.3;
  padding: 0.1em 1.4em 0.3em 0.8em;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.hidden-radio {
  opacity: 0;
  position: absolute;
}

.select__custom {
  display: block;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid var(--grey-border);
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  border-radius: 0.25rem;
}

.select__custom:-ms-expand {
  display: none;
}
.select__custom:hover {
  border-color: var(--main-blue);
}
.select__custom:focus {
  border-color: var(--main-blue);
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}
.select__custom option {
  font-weight: normal;
}

.textarea__custom {
  height: 150px;
}
